# OS files
.DS_Store
Thumbs.db

# Dependencies & Build (Node & SvelteKit)
node_modules/
/build/
/.svelte-kit/
/package/
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Rust & Tauri
/src-tauri/target/
**/*.rs.bk
Cargo.lock

# App Local Data & Temp
UndoitData/
*.tmp
*.undoit_restore_tmp

# IDEs
.vscode/
.idea/

# Flutter & Dart
website/.dart_tool/
website/build/
website/.flutter-plugins
website/.flutter-plugins-dependencies
website/.packages
