# Список зависимостей Python
PySide6
watchdog
pywin32
Pillow # Для обработки изображений
PyMuPDF # Для работы с PDF (альтернатива PyPDF2)
python-docx # Для работы с DOCX
openpyxl # Для работы с XLSX
psutil # Для мониторинга системных ресурсов